* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.game {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 667px;
  margin: auto;
  width: 375px;
}

.header {
  border: 1px solid black;
  padding: 1rem;
}

.footer {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
