@import 'styles/vars.css';

.container {
  display: flex;
  margin-bottom: 1px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 2rem;
  background: var(--color-white);
}

.data {
  display: flex;
  width: 100%;

  & > * {
    flex: 1;
  }
}
