@import 'styles/vars.css';

:root {
  --space-cell: 1px;
}

.container {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--space-cell);
  }
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 2rem;
  margin-right: var(--space-cell);
  background: var(--color-yellow);
}

.data {
  display: flex;
  width: 100%;

  & > * {
    flex: 1;

    &:not(:last-child) {
      margin-right: var(--space-cell);
    }
  }
}
