/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.typo__title___2zEbM {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 32px;
  font-size: 2rem;
}
.typo__body___1Xlj- {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.header__header___3b7Ca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  padding: 1rem;
  text-align: center
}
.header__header___3b7Ca[data-child="true"] {
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 padding-bottom: 32px;
 padding-bottom: 2rem;
}
.header__title___2NyXZ {
}
.header__header___3b7Ca[data-child="true"] .header__title___2NyXZ {
  font-size: 24px;
  font-size: 1.5rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.playerList__container___In44X {
  display: contents;
}
/* override material-ui Divider */
.playerList__hr___2Hfb2 {
  margin: 0 -16px !important;
  margin: 0 -1rem !important;
  margin-bottom: 16px !important;
  margin-bottom: 1rem !important;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.playerItem__container___1siaQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.addPlayer__form___2Ehga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addPlayer__button___q90Sz {
  /* override material-ui button */
  /* margin-right: var(--space-md) !important; */
}
.addPlayer__input___35kcv {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.players__container___2bNRn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 100%;
  padding: 16px;
  padding: 1rem;
  margin: 0 32px;
  margin: 0 2rem;
}
.players__startGameBtn___3Z7QA {
  margin-top: 32px;
  margin-top: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
}
.players__noplayers___2XGWj {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
  margin-top: .5rem;
}
.players__demoBtn___2PvES {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.players__dartboardSVG___2aMsf {
  margin-top: 16px;
  margin-top: 1rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.row__container___DQpwc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.row__container___DQpwc:not(:last-child) {
 margin-bottom: 1px;
}
.row__head___3gd57 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  -ms-flex: 0 0 2rem;
      flex: 0 0 2rem;
  margin-right: 1px;
  background: #FECD5F;
}
.row__data___1_eNq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}
.row__data___1_eNq > * {
 -webkit-box-flex: 1;
     -ms-flex: 1;
         flex: 1
}
.row__data___1_eNq > *:not(:last-child) {
 margin-right: 1px;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.player__container___Zx1mc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  padding: .3125rem;
  padding-bottom: 8px;
  padding-bottom: .5rem;
  background: #FECD5F;
  color: #000;
  text-align: center
}
.player__container___Zx1mc[data-leader="true"] {
 background: #FF4081;
}
.player__name___1jV-r {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 3px 5px;
  padding: .1875rem .3125rem;
  background: #fff;
  color: #000;
  border-radius: 4px;
}
.player__score___2f2VE {
  padding: 3px 8px;
  padding: .1875rem .5rem;
  margin: 5px 0;
  margin: .3125rem 0;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  background: #000;
  border-radius: 4px;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.target__container___2EvPW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}
/* defaults */
.target__target___3VcyP {
  width: 100%;
  height: 100%;
  max-width: 64px;
  max-width: 4rem;
  max-height: 64px;
  max-height: 4rem;
  stroke: #f0f0f0;
  fill: none;
  padding: 16px;
  padding: 1rem;
  margin: auto

  /* 1 hit mark 1 line */
}
.target__target___3VcyP[data-hits="1"] line:last-of-type {
 stroke: #000;
}
.target__target___3VcyP {/*
 2 hits mark lines
*/
}
.target__target___3VcyP[data-hits="2"] line {
 stroke: #000;
}
.target__target___3VcyP {/*
 3 hits mark lines & ellipse
*/
}
.target__target___3VcyP[data-hits="3"] {
 stroke: #000;
 fill: #eaffa9;
 padding: 8px;
 padding: .5rem;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.hitDialog__container___zV6z3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
  max-width: 300px;
}
section.hitDialog__info___2hCMP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hitDialog__dartIcon___3nxqv {
  width: 48px;
  width: 3rem;
}
section.hitDialog__targetBtn___3N7EP {
  border: 1px solid whitesmoke;
  margin: auto
}
section.hitDialog__targetBtn___3N7EP svg {
 max-width: 100%;
 max-height: 100%;
}
section.hitDialog__actions___1mFd1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  padding: 1rem 0;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.winnerDialog__body___RDgWJ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* override material-ui Dialog */
.winnerDialog__overlay___3Qcr3 {
  background-color: #000 !important;
}
/*
 Fonts
 -----
*/
:root { /* 14px */
}
/*
 Colors
 ------
*/
/*
 Spacing
 -------
*/
:root { /* 3px */ /* 5px */
}
/*
 Media Queries
 -------------
*/
.scoreboard__container___1HgD5 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.scoreboard__board___9N-rw {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-size: 0.875rem;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #000;
  border-bottom: 2px solid #000
}
.scoreboard__board___9N-rw > div:not(:first-child) {/*
 stretch Rows across free vertical space
*/
 -webkit-box-flex: 1;
     -ms-flex: 1;
         flex: 1;
}
.scoreboard__dartboardSVG___1F5iy {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding: .3125rem;
}
.scoreboard__targetID___iMAQj {
  width: 100%;
  margin: 5px;
  margin: .3125rem;
  padding: 3px 0;
  padding: .1875rem 0;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 4px;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

/*
 Fonts
 -----
*/

:root { /* 14px */
}

/*
 Colors
 ------
*/

/*
 Spacing
 -------
*/

:root { /* 3px */ /* 5px */
}

/*
 Media Queries
 -------------
*/

:root {
  /* IPhone 6 plus */
}

.app__container___2TXwI {
  position: relative;
  background: url(/cricket/images/background.c7e8d322ddaf471454d9d7b5b6ebf129.svg) no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

@media (min-width: 426px) {

  .app__container___2TXwI {/*Mobile L */
    max-width: 414px;
    max-height: 736px;
    margin: 3rem auto;
    border: 1px solid #000;
  }
}

.app__dartboardSVG___3w1v2 {
  max-height: 50%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*# sourceMappingURL=app.afc51559.css.map*/