@import 'common/styles/vars.css';

.container {
  display: flex;
  align-items: center;
}

.toggleEdit {
  /* override material-ui TextField */
  width: auto !important;
  flex: 1 1;
  margin-right: var(--space-md);
}
