@import 'common/styles/vars.css';

.container {
  display: contents;
}

/* override material-ui Divider */
.hr {
  margin: 0 calc(var(--space-md) * -1) !important;
  margin-bottom: var(--space-md) !important;
}
