.container {
  display: contents;
}

.board {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content;
  grid-template-rows: max-content repeat(7, 1fr);
  grid-gap: 1px;
  background: rgba(255, 255, 255, 0.2);
}
