@import 'common/styles/vars.css';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  background: color(var(--color-white) a(20%));
  border-top: 1px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);

  & > div:not(:first-child) { /* stretch Rows across free vertical space  */
    flex: 1;
  }
}

.dartboardSVG {
  width: 100%;
  height: 100%;
  padding: var(--space-xs);
}
