@import 'styles/vars.css';

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* override material-ui Dialog */
.overlay {
  background-color: var(--color-black) !important;
}
