// utils.scss
// ----------

// --- Vars
$border: 1px solid black;


// --- Mixins
@mixin Container($dir: null, $wrap: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}


// --- Extends
%row {
    @include Container;
}

%col {
    @include Container(column);
}

%cell {
    padding: .5rem 1rem;
}

%target-list {
  @extend %row;
  margin-left: auto;

  li {
    width: 3rem;
    text-align: center;
    border-left: $border;

    &:last-child {
      border-right: $border;
    }
  }
}
