// --- Resets
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// -- Import
@import 'utils';
@import 'board';
@import 'headers';
@import 'panel';

// -----------------

#game {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: $border;
}