@import 'common/styles/vars.css';

.form {
  display: contents;
}

.button {
  grid-column: 1;
  align-self: start;
  margin-bottom: var(--space-md);
}

.input {
  grid-column: 2;
  align-self: start;
  margin-bottom: var(--space-md);
}
