@import 'styles/vars.css';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  padding: var(--space-md);
  margin: 0 var(--space-lg);
}

.startGameBtn {
  margin-top: var(--space-lg);
  align-self: center;
}

.noplayers {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-sm);
}

.demoBtn {
  align-self: flex-end;
}

.dartboardSVG {
  margin-top: var(--space-md);
}
