@import 'normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.app {
  background-color: white;
  height: 667px;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app header {
  text-align: center;
  border-bottom: 1px solid black;

  & h1 {
    padding: 1rem;
    margin: 0;
  }
}

.app main {
  height: 100%;
}

.app footer {
  margin-top: auto;
}
