* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.app {
  background-color: white;
  // composes: box from './styles/layout.scss';
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 667px;
  margin: auto;
  width: 375px;
}
