@import 'common/styles/reset.css';

.app {
  composes: body from 'common/styles/typography.css';
  position: relative;
  background-color: white;
  background: url('images/background.svg');
  height: 667px;
  width: 375px;
  margin: auto;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.dartboardSVG {
  position: absolute;
  left: 0;
  max-height: 50%;
  max-width: 100%;
  bottom: 0;
}
