.app {
  position: relative;
  background-color: white;
  background: url('images/background.svg');
  height: 667px;
  width: 375px;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.ctaBtn {
  padding: 8px;
  margin-bottom: 1rem;
  background: #eaffa9;
  border: 1px solid black;
  border-radius: 4px;
  font-family: 'Unica One', cursive;
}

.title {
  composes: title from 'common/styles/typography.css';
}

.main {
  z-index: 100;
}

.dartboardSVG {
  position: absolute;
  left: 0;
  max-height: 50%;
  max-width: 100%;
  bottom: 0;
}
