.container {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: min-content;
  grid-template-rows: max-content repeat(7, 1fr);
  position: relative;

  & ul {
    list-style: none;
  }
}

.legend {
  display: contents;
  font-weight: lighter;
}

.info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 0 5px;
  background: #f0f0f0;

  & img {
    max-height: 2rem;
    max-width: 2rem;
  }
}

.headers {
  display: contents;
}

.header {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: flex;
  background: #f0f0f0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  & span {
    margin: auto;
  }
}
