.container {
  position: absolute; /* relative to Scoreboard */
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;

  & section {
    display: contents;
  }
}

.dialog {
  width: 65%;
  display: grid;
  grid-template-areas: "name" "count" "done";
  grid-template-rows: auto 10rem auto;
  grid-row-gap: 10px;
  align-items: stretch;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid;
}

.name {
  grid-area: name;
}

.score {
  grid-area: score;
}

.target {
  grid-area: target;
}

.targetID {
  grid-area: id;
}

.hitCount {
  grid-area: count;
}

.add {
  grid-area: add;
}

.remove {
  grid-area: remove;
}

.done {
  grid-area: done;
}
