.overlay {
  background: white;
  height: 100%;
  left: 0;
  position: absolute; /* relative to Scoreboard */
  top: 0;
  width: 100%;
}

.dialog {
  composes: responsive-img from 'common/styles/layout.css';
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 4rem auto;
  padding-top: .5rem;
  border: 1px solid black;
  text-align: center;
}

section.info {
  display: contents;
}

.dartIcon {
  width: 3rem;
}

section.targetBtn {
  grid-column: span 4;
}

section.actions {
  height: 4rem;
  grid-column: span 4;
  display: flex;
  justify-self: stretch;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid black;

  & button {
    background: none;
    border: 1px solid black;
  }
}

.undoBtn {
  width: 20%;
  max-height: 100%;
  padding: 5px;
}

.doneBtn {
  width: 50%;
  margin-left: 30%;
}
