@import 'styles/vars.css';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-md);
  text-align: center;

  &[data-child="true"] {
    justify-content: space-between;
    padding-bottom: var(--space-lg);
  }
}

.title {
  composes: title from 'styles/typo.css';
}

.header[data-child="true"] .title {
  font-size: calc(var(--font-size-lg) - .5rem);
}
