@import 'common/styles/vars.css';

.dialog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

section.info {
  display: contents;
}

.dartIcon {
  width: 3rem;
}

section.targetBtn {
  grid-column: span 4;
  border: 1px solid var(--color-whitesmoke);
}

section.actions {
  grid-column: span 4;
  display: flex;
  justify-self: stretch;
  justify-content: space-between;
  padding: var(--space-md) 0;
}

.undoBtn {
  flex: 1 1;
}

.doneBtn {
  flex: 2 2;
}
