@import 'common/styles/vars.css';

.targetHeaders,
.targetIDs {
  display: contents;
}

.colHeader {
  display: flex;
  align-items: center;
  padding: 0 var(--space-xs);
  background: var(--color-white);
}

.rowHeader {
  display: flex;
  padding: 0 var(--space-sm);
  background: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-sm);

  & span {
    margin: auto;
  }
}

.dartboardSVG {
  width: 100%;
  height: 100%;
}
