.player,
.targets {
  display: contents;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: #333;
  color: #f0f0f0;
  text-align: center;
}

.score {
  padding: 5px;
  align-self: stretch;
  background: white;
  color: black;
}

.name {
  padding: 5px;
}
