@import 'common/styles/vars.css';

.player,
.targets {
  display: contents;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xs);
  background: var(--color-yellow);
  color: var(--color-black);
  text-align: center;
}

.score {
  padding: var(--space-xs);
  align-self: stretch;
  background: var(--color-whitesmoke);
  color: var(--color-black);
}

.header[data-leader="true"] .score {
  background: var(--color-red);
  color: var(--color-white);
}

.name {
  padding: var(--space-xs);
}
