.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dartboardSVG {
  /* position: absolute; */
  max-height: 60%;
  stroke-width: 100%;
}
