@import 'common/styles/vars.css';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  padding: var(--space-md);
  margin: 0 var(--space-lg);
}

.startGameBtn {
  max-width: 120px;
  margin-top: var(--space-lg);
  align-self: center;
}

.dartboardSVG {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
