.scoreboard {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.player {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 3fr;
  text-align: center;

  .info {
    align-items: center;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .score {
    border-bottom: 1px solid black;
  }

  .avatar {
    border: 1px solid black;
    border-radius: 50%;
    height: 3rem;
    margin: auto;
    width: 3rem;
  }
}

.targets {
  align-content: space-evenly;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(7, 40px);
  padding: 1rem;

  button {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: lighter;
    height: 100%;
    padding: 0 1rem;
  }
}
