
* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

$border: 1px solid black;

#game {
  width: 375px;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 3fr 3rem;
  border: $border;
  background-color: white;
}

#header {
  padding: 1rem;
  border: $border;
}

#footer {
  border: 1px solid black;
}