
* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

#game {
  width: 375px;
  height: 667px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 3fr 3rem;
  background-color: white;
}

#header {
  padding: 1rem;
  border: 1px solid black;
}

#footer {
  border: 1px solid black;
}